<!-- MAIN CONTENT -->
<div class="map-dashboard" id="content" ng-controller="mapDashboardCtrl">
    <!-- row -->
    <div class="row">
        <div class="col-sm-2 col-md-2 left-side-bar">
            <div class="date">
                <!--<header>
                    <h2><i class="fa fa-calendar"></i> Date</h2>
                </header>-->
                <div id="datepicker"></div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" data-smart-clockpicker type="text" placeholder="From" data-autoclose="true">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" data-smart-clockpicker type="text" placeholder="To" data-autoclose="true">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="all-data">
                    <table class="table">
                        <tbody>
                            <tr class="rmOccupied">
                                <td>
                                    <h2><i class="fa fa-street-view"></i></h2></td>
                                <td>
                                    <h2>occupied<br>room</h2></td>
                                <td>
                                    <p>25/85</p>
                                </td>
                            </tr>
                            <tr class="rmConfirmed">
                                <td>
                                    <h3><i class="fa fa-check-circle"></i></h3></td>
                                <td>
                                    <h3>confirmed<br>booking</h3></td>
                                <td>
                                    <p>30</p>
                                </td>
                            </tr>
                            <tr class="rmAvailable">
                                <td>
                                    <h3><i class="fa fa-thumbs-up"></i></h3></td>
                                <td>
                                    <h3>available<br>room</h3></td>
                                <td>
                                    <p>55</p>
                                </td>
                            </tr>
                            <tr class="rmNotAvailable">
                                <td>
                                    <h3><i class="fa fa-ban"></i></h3></td>
                                <td>
                                    <h3> not available<br>room</h3></td>
                                <td>
                                    <p>6</p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="txt-color-teal">
                                <td>
                                    <h3><i class="fa fa-lock"></i></h3></td>
                                <td>
                                    <h3>locker<br>available</h3></td>
                                <td>
                                    <p>68/100</p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="txt-color-red">
                                <td>
                                    <h3><i class="fa fa-user-circle"></i></h3></td>
                                <td>
                                    <h3>booked<br>therapist</h3></td>
                                <td>
                                    <p>33</p>
                                </td>
                            </tr>
                            <tr class="txt-color-green">
                                <td>
                                    <h3><i class="fa fa-users"></i></h3></td>
                                <td>
                                    <h3>available<br>therapist</h3></td>
                                <td>
                                    <p>15</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Beacon map -->
        <article class="col-sm-12 col-md-12 col-lg-10 map">
            <div style="width:100%;height:850px;" id="mapContainer">
                <div class="control">
                    <div class="action">
                        <!--<header>
                    <h2><i class="fa fa-flag"></i> Action</h2>
                </header>-->
                        <a id="btn_RegisterGuest" class="btn btn-action txt-color-white" data-toggle="modal" data-target="#register-guest"><i class="fa fa-chain-broken"></i> Check-in</a>
                        <a id="btn_CheckoutGuest" class="btn btn-action txt-color-white" data-toggle="modal" data-target="#check-out"><i class="fa fa-sign-out"></i> Check-out</a>
                        <!-- <button type="button" ng-click="eg5()" class="btn btn-default"> -->
                            <!-- Alert (for demo) -->
                        <!-- </button> -->
                        <button type="button" ng-click="addBookingNo()" class="btn btn-default">
                            Display booking No. (for demo)
                        </button>
                    </div>
                </div>
                <div class="map-filter">
                    <a id="btn-filter" href-void ng-click="filterPopup()" class="btn btn-lg"> <i class="fa fa-map-marker"></i> Display MAP by</a>
                </div>
                <div class="map-filter-container">
                    <!--<div class="zone-type">
                        <ul>
                            <li>Zone</li>
                            <li><a href-void onclick='showIcon(this)' class="btn btn-normal">L1</a></li>
                            <li><a href-void onclick='showIcon(this)' class="btn btn-normal">L2</a></li>
                            <li><a href-void onclick='showIcon(this)' class="btn btn-normal">R2</a></li>
                            <li><a href-void onclick='showIcon(this)' class="btn btn-normal">R2</a></li>
                        </ul>
                    </div>-->
                    <div class="room-type">
                        <ul>
                            <li>Room type</li>
                            <li><i class="fa fa-street-view rmOccupied"></i><a href-void ng-click="showOccupied()" class="btn btn-normal">Occupied<br>Room</a></li>
                            <li><i class="fa fa-check-circle rmConfirmed"></i><a href-void ng-click="showConfirmed()" class="btn btn-normal">Confirmed<br>Booking</a></li>
                            <li><i class="fa fa-thumbs-up rmAvailable"></i><a href-void ng-click="showAvailableRm()" class="btn btn-normal">Available<br>Room</a></li>
                            <li><i class="fa fa-ban rmNotAvailable"></i><a href-void ng-click="showNotAvailableRm()" class="btn btn-normal">Not Available<br>Room</a></li>
                        </ul>
                    </div>
                    <div class="beacon-type">
                        <ul>
                            <li>Beacon type</li>
                            <li><i class="fa fa-user-circle fa-fw txt-color-magenta"></i><a href-void onclick='showIcon(this)' class="btn btn-normal">Member</a></li>
                            <!--<li><i class="fa fa-bookmark fa-fw txt-color-yellow"></i><a href-void onclick='showIcon(this)' class="btn btn-normal">Escort</a></li>
                            <li><i class="fa fa-shopping-basket fa-fw txt-color-blue"></i><a href-void onclick='showIcon(this)' class="btn btn-normal">Maid</a></li>-->
                            <li><i class="fa fa-heart-o fa-fw txt-color-pink"></i><a href-void onclick='showIcon(this)' class="btn btn-normal">Therapist</a></li>
                            <li><i class="fa fa-cog fa-fw txt-color-blueLight"></i><a href-void onclick='showIcon(this)' class="btn btn-normal">Equipment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <!--end beacon map-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="register-guest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Check-in</h4>
                </div>
                <div class="modal-body">
                    <!--Collapsible group-->
                    <div class="panel-group smart-accordion-default" id="register-guest-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#register-guest-accordion" ng-click="toggleCol()"><span>1</span> Select Booking Record(s)</a></h4>
                            </div>
                            <div id="check-in" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <form class="smart-form">
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Customer Name</label>
                                                <label class="input"> <i class="icon-append fa fa-search"></i>
                                                    <input type="text" ng-model="CustomerName" name="name">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Member ID</label>
                                                <label class="input"> <i class="icon-append fa fa-search"></i>
                                                    <input type="text" ng-model="CustomerID" name="member-id">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Mobile No.</label>
                                                <label class="input"> <i class="icon-append fa fa-search"></i>
                                                    <input type="tel" ng-model="CustomerMobile" name="mobile">
                                                </label>
                                                <!-- <button type="submit" name="search" class="btn btn-normal"> -->
                                                    <!-- Search -->
                                                <!-- </button> -->
                                            </section>
                                        </div>
                                    </form>
                                    <h4>Today's Booking Records</h4>
                                    <label id="select-all"><span>Select all <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected"></span></label>
                                    <div class="searching-result">
                                        <booking-records></booking-records>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#register-guest-accordion" class="btn btn-normal" ng-click="validSelectedBk()">
                                            Next
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#register-guest-accordion"><span>2</span> Pair Handband & Locker</a></h4>
                            </div>
                            <div id="pairing" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="searching-result">
                                        <selected-records></selected-records>
                                    </div>
                                    <div class="handband-and-locker-info">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label>Name on map</label> -->
                                                    <!-- <input id="name-on-map" class="form-control" placeholder="Customer name" type="text" value="{{booking[0].customer.name || ''}}"> -->
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <!-- <button class="btn btn-normal" ng-click="markAsFriend()">{{markAsFriendBtn}}</button> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                     <label for="select-hb-co">HandBand ID</label>
														<select class="form-control" id="select-hb"   ng-model="selectedItem" ng-options="item.ble_addr for item in unbecaon_List">
														 <option value="">Please Select</option>
														</select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 locker-no">
                                                <h4>Locker No.</h4>
                                                <div id="matched-locker">{{selectedItem.locker_no}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End collapsible group-->
                </div>
                <div class="modal-footer">
                    <button id="btn_SendGuestInfomation" type="button" class="btn btn-normal"  ng-disabled="!selectedItem.locker_no">
                        Done
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Check-out -->
    <div class="modal fade" id="check-out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Check-out Guest</h4>
                </div>
                <div class="modal-body">
                    <div class="handband-and-locker-info action-outer">
                        <div class="action-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="select-hb-co">HandBand ID</label>
                                        <select class="form-control" id="select-hb-co"   ng-model="selectedItemCO" ng-options="itemCO.ble_addr for itemCO in becaon_List">
										 <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 locker-no">
                                    <h4>Locker No.</h4>
                                    <div id="matched-locker">{{selectedItemCO.locker_no}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
					  <div class="selectedItemCO">
					 </div>
                </div>
                <div class="modal-footer">
                    <button id="btn_Check-out" type="button" class="btn btn-normal"  ng-disabled="!selectedItemCO.locker_no">
                        Done
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /Check-out -->
    <!-- Booking Enquires -->
    <div class="modal fade" id="booking-enquires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Booking Enquiries</h4>
                </div>
                <div class="modal-body">
                    <div class="action-outer">
                        <div class="action-inner">
                            <h4>Search by</h4>
                            <form class="smart-form">
                                <div class="row">
                                    <section class="col col-5">
                                        <label class="label">Guest Name</label>
                                        <label class="input"> <i class="icon-append fa fa-search"></i>
                                            <input type="text" name="name">
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <label class="label">Member ID</label>
                                        <label class="input"> <i class="icon-append fa fa-search"></i>
                                            <input type="text" name="member-id">
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">From</label>
                                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" placeholder="Expected start date">
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">To</label>
                                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="finishdate" id="finishdate" data-smart-datepicker data-max-restrict="#startdate" placeholder="Expected finish date">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Room No.</label>
                                        <label class="input"> <i class="icon-append fa fa-search"></i>
                                            <input type="text" name="member-id">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button type="submit" name="search" class="btn btn-normal">
                                            Search
                                        </button>
                                    </section>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /Booking Enquires -->
</div>
<!-- /.modal -->
<!-- 弹框 -->
<div class="alert-room-detail col-lg-12">
    <div class="detail-title col-lg-10">
        <p id="RoomName-detail" class="col-lg-12">Room Details:VIP Room 1</p>
        <span class="col-lg-12">Status:  Ready for Clean</span>
    </div>
    <i class="btn_Close col-lg-1 pull-right glyphicon glyphicon-remove"></i>
    <div class="detail-box col-lg-12">
        <span class="col-lg-12">Upcoming:</span>
        <div class="event col-lg-12">
            <div class="col-lg-3">
                <span class="col-lg-12">1:00pm</span>
                <span class="col-lg-12">2:30pm</span>
                <span class="time-his col-lg-12">20mins later</span>
            </div>
            <div class="col-lg-6">
                <span class="col-lg-12">Treatment A</span>
                <span class="col-lg-12">Therapist: THER-LILY LEE</span>
                <span class="col-lg-12">Machine:Trearment Machine</span>
            </div>
            <i class="col-lg-1 fa fa-trophy" aria-hidden="true"></i>
            <div class="col-lg-2">
                <span class="col-lg-12">Ms Lau</span>
                <span class="col-lg-12">0036688</span>
            </div>
        </div>
        <div class="event col-lg-12">
            <div class="col-lg-3">
                <span class="col-lg-12">1:00pm</span>
                <span class="col-lg-12">2:30pm</span>
                <span class="time-his col-lg-12">20mins later</span>
            </div>
            <div class="col-lg-6">
                <span class="col-lg-12">Treatment A</span>
                <span class="col-lg-12">Therapist: THER-LILY LEE</span>
                <span class="col-lg-12">Machine:Trearment Machine</span>
            </div>
            <i style="color: transparent;" class="col-lg-1 fa fa-trophy" aria-hidden="true"></i>
            <div class="col-lg-2">
                <span class="col-lg-12">Ms Lau</span>
                <span class="col-lg-12">0036688</span>
            </div>
        </div>
    </div>
</div>
<div class="alert-enquiries row">
    <i class="btn_Close col-lg-1 pull-right glyphicon glyphicon-remove"> </i>
            <div class="enquiries-header col-lg-12">
                <div class="user-img col-lg-2"></div>
                <div class="user-info col-lg-8">
                    <span class="col-lg-12 tir"><span class="yuandian "></span><span> Member tir</span></span>
                    <span id="CustomerName" class="user-name col-lg-12 ">Mr.Wong(002266888)</span>
                    <span class="col-lg-12 ">Status: Waiting for Treatment</span>
                </div>
            </div>
            <div class=" col-lg-12 booking-box ">
                <div class=" booking-title col-lg-12 ">Booking</div>
                <div class="cur-bgc h80 col-lg-12 ">
                    <div class="col-lg-3 ">
                        <span class="time-day col-lg-12 ">Today</span>
                        <span id="BookingRoomName " class="user-level col-lg-12 ">VVIP Rm2</span>
                    </div>
                    <div class="col-lg-3 ">
                        <span class="col-lg-12 ">1:00pm</span>
                        <span class="col-lg-12 ">2:30pm</span>
                    </div>
                    <div class="col-lg-6 ">
                        <span class="col-lg-12 ">Treatment A</span>
                        <span class="col-lg-12 ">Therapist: THER-LILY LEE</span>
                        <span class="col-lg-12 ">Machine:Trearment Machine</span>
                    </div>
                </div>

                <div class="default col-lg-12 h80 defautl ">
                    <div class="col-lg-3 pt30 ">
                        <span class="col-lg-12 ">TOMORROW</span>
                        <span class=" col-lg-12 ">17 April 2017</span>
                    </div>
                    <div class="col-lg-3 pt30 ">
                        <span class="col-lg-12 ">1:00pm</span>
                        <span class="col-lg-12 ">2:30pm</span>
                    </div>
                    <div class="col-lg-6 ">
                        <span class="col-lg-12 ">Treatment A</span>
                        <span class="col-lg-12 ">Therapist: THER-LILY LEE</span>
                        <span class="col-lg-12 ">Machine:Trearment Machine</span>
                    </div>
                </div>
            </div>
        </div>

<div class="CoverModal "></div>



    <!-- 弹框end -->
</div>
<link rel="stylesheet " type="text/css " media="screen " href="/styles/css/map-dashboard.css ">
<script src='/js/main.js'></script>
<script src="/js/BRTMap.js "></script>
<script src='/js/layer/layer.js'></script>
<!-- <link rel="stylesheet " type="text/css " media="screen " href="/Map-Console/acs-master/styles/css/map-dashboard.css "> -->
<!-- <script src='/Map-Console/acs-master/js/main.js'></script> -->
<!-- <script src="/Map-Console/acs-master/js/BRTMap.js "></script> -->
<!-- <script src='/Map-Console/acs-master/js/layer/layer.js'></script> -->
