<div id="today-bookings">
    <div class="booking-number">
        <div id="booking_no" o-data-id="{{currentIdx.bk_no}}" class="table-cell">
            {{currentIdx.bk_no}}
        </div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
    <div class="customer-record">
        <div class="table-cell">
            <!-- <img id="customer-pic" ng-src="{{currentIdx.customer.pic}}" alt="avatar"> -->
			 <img id="customer-pic" src="styles/img/avatars/5.png" alt="avatar">
        </div>
        <div class="table-cell customer-profile">
            <div class="customer-name">{{currentIdx.mbr_name}}</div>
            <div class="member-id" id="member_id" o-data-id='{{currentIdx.mbr_code}}'><i class="fa fa-id-card-o"></i> {{currentIdx.mbr_code}}</div>
            <div class="mobile"><i class="fa fa-mobile-phone"></i> {{currentIdx.mbr_phone}}</div>
            <div class="member-tier"><i ng-class="tierClass(currentIdx)"></i></div>
        </div>
        <div class="table-cell booking-info">
            <div ng-repeat="x in currentIdx.treatment">
                <div class="booking-time">{{x.from_date}} - {{x.to_date}} ({{x.str_time_length}})</div>
                <div class="booking-treatment">{{x.item_name}}</div>
                <div class="booking-therapist">Therapist: <span class="booking-therapist-name">{{x.staff_name}}</span></div>
                <div class="booking-room">{{x.room_name}}</div>
                <br>
            </div>
        </div>
        <div class="table-cell">
            <div id="confirmed">
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
    </div>
</div>
