 <div ng-if="!(selectedItemCO.handBandId === 'Please Select')">
                        <div class="booking-number">
                            <div class="table-cell">{{selectedItemCO.booking}}</div>
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                        <div class="customer-record">
                            <div class="table-cell">
                                <img id="customer-pic" src="styles/img/avatars/5.png" alt="avatar">
                            </div>
                            <div class="table-cell customer-profile">
                                <div class="customer-name">{{selectedItemCO.customer.name}}</div>
                                <div class="member-id" o-data-id='{{selectedItemCO.customer.id}}' ><i class="fa fa-id-card-o"></i> {{selectedItemCO.customer.id}}</div>
                                <div class="mobile"><i class="fa fa-mobile-phone"></i> {{selectedItemCO.customer.mobile}}</div>
                                <div class="member-tier"><i class="fa fa-trophy"></i></div>
                            </div>
                            <div class="table-cell booking-info">
                                <div class="booking-time">{{selectedItemCO.treatment[0].start_time}} - {{selectedItemCO.treatment[0].end_time}} ({{selectedItemCO.treatment[0].duration}})</div>
                                <div class="booking-treatment">{{selectedItemCO.treatment[0].treatment}}</div>
                                <div class="booking-therapist">Therapist: <span class="booking-therapist-name">{{selectedItemCO.treatment[0].therapist}}</span></div>
                                <div class="booking-room">{{selectedItemCO.treatment[0].room}}</div>
                            </div>
                            <div class="table-cell">
                                <div id="confirmed">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>