<div id="today-bookings">
    <div class="booking-number">
        <div class="table-cell">
            {{currentIdx.booking}}
        </div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
    <div class="customer-record">
        <div class="table-cell">
            <img id="customer-pic" ng-src="{{currentIdx.customer.pic}}" alt="avatar">
        </div>
        <div class="table-cell customer-profile">
            <div class="customer-name">{{currentIdx.customer.name}}</div>
            <div class="member-id"><i class="fa fa-id-card-o"></i> {{currentIdx.customer.id}}</div>
            <div class="mobile"><i class="fa fa-mobile-phone"></i> {{currentIdx.customer.mobile}}</div>
            <div class="member-tier"><i ng-class="tierClass(currentIdx)"></i></div>
        </div>
        <div class="table-cell booking-info">
            <div ng-repeat="x in currentIdx.treatment">
                <div class="booking-time">{{x.start_time}} - {{x.end_time}} ({{x.duration}})</div>
                <div class="booking-treatment">{{x.treatment}}</div>
                <div class="booking-therapist">Therapist: <span class="booking-therapist-name">{{x.therapist}}</span></div>
                <div class="booking-room">{{x.room}}</div>
                <br>
            </div>
        </div>
        <div class="table-cell">
            <div id="confirmed">
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
    </div>
</div>
