<div class="today-bookings" ng-repeat="record in booking" ng-if="record.selected">
    <div class="customer-record">
        <div class="table-cell">
            <span id="booking_no" o-data-id="{{record.bk_no}}" class="booking-number">{{record.bk_no}}</span>
            <!-- <img id="customer-pic" ng-src="{{record.customer.pic}}" alt="avatar"> -->
			<img id="customer-pic" src="styles/img/avatars/5.png" alt="avatar">
        </div>
        <div class="table-cell customer-profile">
            <div class="customer-name">{{record.mbr_name}}</div>
            <div id="member_id" o-data-id='{{record.mbr_code}}' class="member-id"><i class="fa fa-id-card-o"></i>  {{record.mbr_code}}</div>
			<div class="mobile"><i class="fa fa-mobile-phone"></i> {{record.mbr_phone}}</div>
			<div class="member-grading" ng-class="gradingClass(record)">{{record.customer.group_name}}</div>
        </div>
        <div class="table-cell booking-info">
           <div ng-repeat="info in record.items">
                    <div class="booking-time">{{info.from_date}} - {{info.to_date}} ({{info.str_time_length}})</div>
					<div class="booking-treatment">{{info.item_name}}</div>
					<div class="booking-therapist">Therapist: <span class="booking-therapist-name">{{info.staff_name}}</span></div>
					<div class="booking-room">{{info.room_name}}</div>
           </div>
        </div>
        <div class="table-cell">
            <div id="confirmed">
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
    </div>
</div>

