/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

* {
    box-sizing: border-box;
}

#header-date {
    float: left;
    margin-left: 15px;
    color: #812990;
}

#header-time {
    margin-left: 15px;
    color: #812990;
}

#hide-menu {
    width: 30px !important;
}

#hide-menu a {
    margin: 0px;
    height: 100%;
    line-height: 49px;
    padding: 0;
}

.map-dashboard .left-side-bar {
    border-right: 1px solid #C8C8C8;
}

.map-dashboard .ui-datepicker {
    width: 100%;
}

.map-dashboard .ui-widget-content {
    border: 0;
}

.map-dashboard .ui-datepicker .ui-datepicker-header {
    color: #333;
    line-height: 100%;
    font-size: 18px;
    background: #FFF;
}

.map-dashboard .ui-widget-header a {
    color: #812990;
    line-height: 100%;
    font-size: 18px;
}

.map-dashboard header {
    color: #812990;
}

.map-dashboard .form-group {
    margin: 0;
}

.map-dashboard .action .btn-action {
    width: 100%;
    background: #812990;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 16px;
}

.map-dashboard article > div {
    width: 100%;
}

.map-dashboard .map-filter-container > div {
    float: left;
    width: 15%;
    margin-left: 20px;
}

.map-dashboard .map-filter-container div ul {
    list-style-type: none;
    padding: 0;
}

.map-dashboard .map-filter-container div ul li:first-child {
    font-weight: bold;
    color: #812990;
    font-size: 20px;
}

.map-dashboard .map-filter-container .map-machine-status {
    width: 20%;
}

.map-dashboard .map-filter-container .btn-normal {
    background: #FFF;
    color: #333;
    border: 1px solid #ccc;
}

.map-dashboard .map-filter-container ul li .btn-selected {
    background: #812990;
    color: #FFF;
}

#date-picker {
    color: #812990;
    font-size: 28px;
    padding: 0;
}

.map-dashboard .map-filter-container div ul li {
    padding-top: 10px;
    font-size: 24px;
}

.map-dashboard .map-filter-container div ul li a {
    margin-left: 5px;
    min-width: 75%;
}

.map-dashboard .map #beacon-map {
    text-align: center;
}

.map-dashboard .map #beacon-map a {
    float: right;
}

.map-dashboard .modal .btn-normal {
    font-size: 18px;
    height: 32px;
    min-width: 98px;
    background: #812990;
    color: #FFF;
    text-align: center;
    line-height: 100%;
}

.map-dashboard .modal #check-in .btn-normal {
    float: right;
    width: 50%;
}

.map-dashboard .modal #check-in .btn-normal,
#booking-enquires .btn-normal {
    margin-top: 25px;
}

.map-dashboard .modal .action-outer {
    border-top: 2px solid #812990;
}

.map-dashboard .action-inner {
    border: 1px solid #E9E9E9;
    padding: 10px 15px;
}

.map-dashboard .modal .handband-and-locker-info #scan {
    margin-top: 30px;
}

.map-dashboard .modal-title {
    color: #812990;
    font-weight: bold;
}

.map-dashboard .modal-content {
    border-radius: 10px;
}

.map-dashboard .smart-accordion-default.panel-group {
    border-top: 2px solid #812990;
}

.map-dashboard .smart-accordion-default .panel-default {
    border-color: #E9E9E9;
}

.map-dashboard .modal-header {
    border: 0;
}

.map-dashboard .modal-body {
    padding: 0 20px 10px 20px;
}

.map-dashboard .smart-form .label,
label {
    color: #812990;
    font-size: 18px
}

.map-dashboard .modal-body .panel .panel-heading {
    background: #FFF;
    color: #812990;
}

.map-dashboard .modal-body h4 {
    font-size: 24px;
}

.map-dashboard .modal-body .panel .panel-title span {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background: #812990;
    border-radius: 100%;
    font-size: 32px;
    margin-right: 20px;
}

.map-dashboard .modal-body .panel .collapsed {
    background: #F6F6F6;
    font-size: 18px;
}

.map-dashboard .modal-body .panel .panel-title .collapsed span {
    display: inline;
    background: transparent;
    border-radius: 0;
    font-size: 18px;
    color: #812990;
    width: auto;
    height: auto;
    line-height: 0;
}

.map-dashboard .panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}

.map-dashboard #check-in {
    margin-left: 50px;
}

.map-dashboard .modal {
    color: #812990;
}

.map-dashboard .customer-record,
.map-dashboard .booking-number {
    display: table-row;
    background: #F3EAF4;
    font-size: 16px;
    text-transform: capitalize;
}

.map-dashboard .selected-record-placeholder {
    background: #F3EAF4;
    width: 826px;
    line-height: 132px;
    text-align: center;
    font-size: 20px
}

.map-dashboard .searching-result h4 {
    margin: 10px 0;
}

.map-dashboard #today-bookings {
    margin: 10px 0;
}

.map-dashboard .table-cell {
    display: table-cell;
    padding: 10px;
    vertical-align: top;
}

.map-dashboard .table-cell:first-child,
.map-dashboard .table-cell:last-child {
    text-align: center;
}

.map-dashboard .table-cell:last-child {
    vertical-align: middle;
    width: 10%;
    padding: 0 30px;
}

.map-dashboard .customer-profile {
    width: 33%;
}

.map-dashboard .booking-info {
    width: 47%;
    font-size: 20px;
}

.map-dashboard #customer-pic {
    margin: 0;
    border-radius: 10px;
    width: 60px;
}

.map-dashboard .smart-form .input input,
.smart-form .select select,
.smart-form .textarea textarea,
.map-dashboard .handband-and-locker-info .form-control {
    border-radius: 5px!important;
    background: #F6F6F6;
}

.map-dashboard .customer-record .customer-name,
.map-dashboard .customer-record .member-tier,
.map-dashboard .booking-number {
    font-size: 24px;
}

.map-dashboard .customer-record .member-tier {
    color: #F01307;
}

.map-dashboard .booking-therapist-name {
    text-transform: uppercase;
}

.map-dashboard #next a,
.map-dashboard #confirmed {
    font-size: 50px;
    color: #812990;
    background: transparent;
}

.map-dashboard #confirmed {
    color: #40C353;
}

.map-dashboard .locker-no {
    font-size: 24px;
    text-align: center;
}

.map-dashboard #matched-locker {
    min-height: 85px;
    font-size: 60px;
}

.map-dashboard .smart-form .select i {
    box-shadow: 0 0 0 9px #F6F6F6;
}

#booking-enquires h4 {
    margin-bottom: 10px;
}
#main{background-color: #fff;}
input{border-radius: 6px;}
ul,li{list-style: none;}

.rulelisting-nav{height: 70px;background-color: #fff;color: #842E92;}
.rulelisting-nav>div{height: 70px; font-size:30px; line-height: 70px; text-align: center;border: 0 none;cursor: pointer;}  
.username{margin: 0;padding: 0;}
.userimg{margin: 0;padding: 0;}

.userimg .circle{overflow: hidden;width: 60px; height: 60px;border-radius: 30px;margin-top: 5px;}
.userimg .circle img{width: 70px; height: 70px;}

.rulelisting-title{height: 70px;background-color: #E8E8E8; color: #842E92;}
.rulelisting-title h2{margin: 0;height: 70px;line-height: 70px;font-size: 24px; font-weight: bold;}
.rulelisting-title .searchbox{margin-top: 16px;}
.rulelisting-title .searchbox input{height: 40px;}
.rulelisting-title .filter{height: 70px;}
.rulelisting-title .filter .icon,p{float: left;height: 70px;margin: 0;font-size: 20px;}
.rulelisting-title .filter p{font-weight: bold; line-height: 70px;}
.rulelisting-title .filter .icon{width: 30px;}
.rulelisting-title .filter .icon i{height: 35px;line-height: 35px;}


.filter-title{height: 40px;margin-top: 10px;background-color: #E8E8E8;margin:10px 10px 0; }
.filter-title h3{margin: 0;height: 40px;font-size: 20px;line-height: 40px; color: #842E92;font-weight: bold;}

div.list-item{background-color:#009688 ;}

.list-item{height: 66px;padding:0 10px;margin:10px 10px 0; font-size:16px;color: #fff;border-radius: 6px;}
.list-item>p{height: 66px; line-height: 66px;  }
.list-item span{ line-height: 33px;}
.list-item .list-item-time{margin-top: 11px;}
.list-item .icon-ground{text-align: right;}
.list-item .icon-ground i{width: 50px;height: 66px;margin: 0;font-size: 32px;line-height: 66px;text-align: center;cursor: pointer;}


.btn-add-rule{display: none;position: fixed;bottom:750px;right: 0px;width: 90px;height: 90px;font-size: 40px;line-height: 90px;text-align: center; color: #fff; background-color: #FE4081;border-radius: 45px;z-index: 9999999;}


.template-main span{height: 60px;line-height: 60px;font-size: 30px;color: #fff;border-radius: 6px;	}
.template-main li{height: 60px;margin-top: 10px;line-height: 60px;font-size: 30px;color: #000;border-radius: 6px;	}
.template-main li p{height: 60px;margin-left: 10px;line-height: 60px;}
.template-main li i{float: right;margin-right: 20px;margin-top: 11px; cursor: pointer;}
.template-main span i{margin-right: 6px; cursor: pointer;}
.template-main ul{padding:  0; }
.template-main .push-temp{margin-left: 10px;margin-top: 20px;}
.template-main .sms-temp {margin-top: 20px;}
.template-main .sms-temp span{background-color: #ffc107;}
.template-main .push-temp span{background-color: #85a5cc;}
.template-main .sms-temp li{background-color: #ffe69c;}
.template-main .push-temp li{background-color: #cedbeb;}


.new-rule{border-bottom: 1px solid #c8c8c8;border-top: 1px solid #c8c8c8;}
.editor-aside{height: 680px;}
.editor-aside .ipt-box{height: 60px;padding:0 10px;background-color: #E8E8E8;line-height: 60px;text-align: center;box-sizing: border-box;}
.editor-aside .ipt-box input{display: inline;height: 36px;}

.edit-list-item{height: 36px;font-size:12px; color:#fff; margin-bottom: 2px;}
.edit-list-item .edit-class{height: 24px;line-height: 24px;font-size:14px; color:#fff;}
.edit-list-item .edit-class span{height: 24px;line-height: 24px;font-size:14px; color:#fff;}
.edit-list-item .edit-class i{display: inline;height: 24px;line-height: 24px;font-size:14px; color:#fff;}

.editor-content{padding: 0;}
.editor-aside-classname{height: 38px;background-color: #812990; color: #fff;font-size: 20px;line-height: 38px;margin-top: 1px;}

.editor-aside-classname i{display: inline-block;margin-top:10px;}
.editor-aside-classmain{margin: 0;padding: 0; background-color: #f5f5f5;}
.classmain-item{}
.classmain-item  h4{height: 24px;width: 100%;padding:0 10px;}
.classmain-item  h4 i,p{float: left;height: 24px; line-height: 24px;}
.classmain-item  h4 i{position: static;width: 10%;text-align: center;color:#626262; }
.classmain-item  h4 p{width: 80%;padding-left: 6px; color: #0A0A0A;font-size: 16px;box-sizing: border-box; }
.classmain-item  span{display: inline-block;width: 100%;font-size: 16px;    padding: 10px 10px 10px 40px; line-height: 18px;background-color: #ececec;  color: #999; box-sizing: border-box;}
.classmain-item  span:nth-of-type(2n){margin-top: 1px;}

.eidtor-box{height: 500px;background-color: #666;}
.editor-box  h2{display: inline-block;width: 100%;height: 78px; line-height: 78px; color: #812990;font-size: 24px ; font-weight: bold;}
.newrule-part01{height: 210px;}
.newrule-part02{    padding-bottom: 20px;}
.newrule-part03{padding-bottom: 40px;}
.editor-box  .rule-title{width: 100%;height: 56px;}
.editor-box  .rule-title .rule-num{display: inline-block;width: 56px;height: 56px; margin-left: 10px;background-color: #fff;line-height: 56px;text-align: center;color: #000; font-size: 24px;border-radius: 28px;}
.editor-box  .rule-title span{height: 56px; line-height: 56px; font-size: 18px; color: #999999;}

.rule-writ{height:40px;}

.rule-writ input{height: 40px; line-height: 40px;margin-left: 80px;color: #ccc;text-decoration: none;font-style: italic; font-size: 16px; border: 0 transparent;border-bottom: 1px solid #999;border-radius: 0;background-color: transparent;}

.rule-writ select{width: 164px;height: 40px;line-height: 40px;margin-left: 20px;background-color: #EBEBEB;text-align: center;}
.rule-writ select option{width: 164px;height: 40px;line-height: 40px;margin-left: 20px;background-color: #EBEBEB;text-align: center;}


.rule-tips{height: 30px; line-height: 30px;margin-top: 20px;margin-left: 80px;color: #333; font-size: 12px;border-top: 2px solid #FFC107;border-radius: 0;background-color: #F6F6F6;}
.rule-group{padding-left: 70px;margin-top: 10px;}
.rule-group>div{height: 46px;display: block; }
.rule-group div>*{height: 32px;line-height: 32px;font-size: 14px;color: #A6A6A6;text-align: center;}
.rule-group div div,button{background-color: #EBEBEB;}
.rule-group div div{margin-right: 10px;}
.rule-group div div,em{margin-top: 8px;text-decoration: none;}
.rule-group div em{font-weight: bold;font-style: normal;font-size: 16px}
.rule-group div button{transition: -webkit-transform .5s;width: 46px; height: 46px; border-radius: 23px;border: 0 none;color: #333; font-size: 16px}
.rotate-animate{-webkit-transform: rotate(180deg);}
.tsf-all{transition: all .5s;}
.op0{opacity: 0;}
.op1{opacity: 1;}
.h0{height:0;}
.cp{cursor: pointer;}
.bgl{background:#eaa058;}
.ats_ip{margin:8px 10px 0 0;}
.andor:hover{background:#A6A6A6;color:white;}
.andor:hover{background:#A6A6A6;color:white;}
.group-andor{background:#EBEBEB;color:#A6A6A6;padding: 3px 10px;text-align: center;margin-left: 10px;margin-top: 22px;}
.ovf-h{overflow:hidden;}

.btn-changeground {height: 52px;margin-left: 80px;margin-top: 20px;border-top: 1px solid #999;line-height: 52px;text-align: center;font-size: 14px ; font-weight: bold;}
.btn-changeground a{display: inline-block;width: 60px;height: 52px;line-height: 52px;text-align: center;color: #666;}
.btn-changeground a:hover{transform: scale(1.2);}
.newrule-part03 >span{height: 20px;line-height: 20px;font-size: 12px;margin-top: 20px;margin-left: 60px;color: #999999;}
.newrule-part02 >button{height: 44px;margin-top: 20px;font-size:14px;color: #fff; border-radius: 6px;}
.newrule-part03 >button{height: 44px;margin-top: 20px;font-size:14px;color: #fff; border-radius: 6px;}
.newrule-part02 >button{background-color:#3498DB ;}
.newrule-part03 >button{background-color:#812990 ;}



.alert-temp-mask{position: fixed;top: 0%;left: 0%;width: 100%;
    height: 100%;background-color: rgba(0,0,0,0.5);oz-index: 9999;}
.temp-edit{position: absolute;top: 50%; left: 50%;margin-top: -300px;margin-left: -450px;width: 900px; height: 610px;background-color: #fff;border-radius: 6px;padding: 0 20px ;}
.temp-edit>*{ color: #842E92;font-weight: bold;}

.temp-edit-main {border: 1px solid #ccc;border-top: 2px solid #812990;}
.temp-edit-main span{height: 50px;line-height: 50px;font-size: 20px;color: #812990;padding: 0;}
.temp-edit-main select{height: 50px;line-height: 50px;font-size: 20px;color: #812990;padding: 0;margin-right: 20px;border-radius: 6px;text-align: center;}
.temp-edit h2{height: 50px;line-height: 50px;font-size: 24px;}
.temp-edit input{height: 50px;line-height: 50px;font-size: 20px;color: #812990;background-color: transparent;box-shadow: 0 transparent;border: 0;}
.descr{ height: 180px;margin-top: 20px;padding: 0;margin-left: -10px;}
.descr textarea{padding: 20px 20px; font-size: 20px;color: #812990;font-weight: normal;max-width: 100%; max-height: 160px; border-radius: 6px; border: 1px solid #812990; }
.descr span{ height: 50px;text-align: right;margin-right: 20px;}
.conte{ height: 180px;margin-top: 20px;padding: 0;margin-left: -10px;}
.conte textarea{padding: 20px 20px; font-size: 20px;color: #812990;font-weight: normal;max-width: 100%; max-height: 160px; border-radius: 6px; border: 1px solid #812990; }
.conte span{ height: 50px;text-align: right;margin-right: 20px;}




